<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="myWeb.css">
</head>
<body>
<header>
    <div class="logo">Maksim Levanoivhc</div>
    <div class="menu">
        <a href="#home-section"><div>HOME</div></a>
        <a href="#about-section"><div>ABOUT</div></a>
        <a href="#photos-section"><div>PHOTOS</div></a>
        <a href="#portfolio-section"><div>PORTFOLIO</div></a>
        <a href="#contact-section"><div>CONTACT ME</div></a>
    </div>
</header>

<section id="home-section" class="content home">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas labore commodi explicabo autem ab minus consequatur exercitationem eveniet maxime aperiam molestias nobis totam doloribus, iure deserunt obcaecati, cum laboriosam voluptate.</p>
    <div class="picture">
        <img src="images/me.jpg" alt="me">
    </div>
</section>

<section id="about-section" class="content about">
    <div class="picture">
        <img src="images/me.jpg" alt="me">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas labore commodi explicabo autem ab minus consequatur exercitationem eveniet maxime aperiam molestias nobis totam doloribus, iure deserunt obcaecati, cum laboriosam voluptate.</p>
    
</section>

<section id="photos-section" class="content photos">

   <div class="pic pict-1"><img src="images/me.jpg" alt="me"></div>
   <div class="pic pict-2"><img src="images/me.jpg" alt="me"></div>
   <div class="pic pict-3"><img src="images/me.jpg" alt="me"></div>
   <div class="pic pict-4"><img src="images/me.jpg" alt="me"></div>
   <div class="pic pict-5"><img src="images/me.jpg" alt="me"></div>
   <div class="pic pict-6"><img src="images/me.jpg" alt="me"></div>
</section>

<section id="portfolio-section" class="content portfolio">
    <div class="picture">
        <img src="images/me.jpg" alt="me">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas labore commodi explicabo autem ab minus consequatur exercitationem eveniet maxime aperiam molestias nobis totam doloribus, iure deserunt obcaecati, cum laboriosam voluptate.</p>
    
</section>

<section id="contact-section" class="content contact">
   <footer>
    <div class="logo">Maksim Levanovich</div>
    <div class="contactInfo">
        <ul>
            <li>Minnetonka, USA</li>
            <li>Address: 5101 Boarshead Rd. apt 221</li>
            <li>Phone number: 612 978-7176</li>
            <li>I'm available</li>
        </ul>
    </div>
</footer>
</section>


</body>
</html>
