/* General styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Adjusted container width */
.container {
    flex: 1; /* This makes the container take up the remaining vertical space */
    width: 90%; /* Increase the maximum width */
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2, h3 {
    color: #333;
    text-align: center;
}

/* Resume Sections */
#education, .workExperience, .skills, .awards, .hobbies {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    color: #555;
}

/* Buttons for navigation */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: 20px;
}
